notebooks/3d_reconstruction/data/** filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
test_imgs/* filter=lfs diff=lfs merge=lfs -text
