notebooks/3d_reconstruction/data/** filter=lfs diff=lfs merge=lfs -text
notebooks/feature_detection/data/** filter=lfs diff=lfs merge=lfs -text
notebooks/calibration/calibration_images_markers/** filter=lfs diff=lfs merge=lfs -text
notebooks/calibration/calibration_images_chessboard/** filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
